@model BooksStorage.ViewModels.PersonViewModel
    @{
        Layout = null;
    }

<div class="contact-form">
    @using (Ajax.BeginForm("SavePerson", "api/PersonsStorageManager",
        null, new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "AuthorsModule.SuccessSave",
            OnFailure = "AuthorsModule.FailSave"
        }, new
        {
            role = "form",
            id = "idSavePerson"
        }
        ))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Family, new {@class = ""})
            @Html.TextBoxFor(m => m.Family, new {@class = "form-control", placeholder = "Фамилия ..."})
            @Html.ValidationMessageFor(m => m.Family)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Name, new {@class = ""})
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control", placeholder = "Имя ..."})
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        @Html.HiddenFor(m => m.PersonId)
    }
</div>