@model BooksStorage.ViewModels.BookViewModel

@{
    Layout = null;
}
<tr id="@string.Format("idBook{0}", Model.BookId)">
    <td>@Model.Title</td>
    <td>
        <ul class="authors">
            @foreach (var author in Model.Authors)
            {
                <li>@author.DisplayAuthorName</li>
            }
        </ul>
    </td>
    <td><img class="book-image" src="@Model.DisplayBookSrcImage" /></td>
    <td>@Model.PagesCount</td>
    <td>@Model.Publisher</td>
    <td class="isbn">@Model.ISBN</td>
    <td>@string.Format("{0:dd.MM.yyyy}", Model.PublishDate) </td>
    <td>
        <span class="glyphicon glyphicon-pencil btn btn-default edit-button" title="редактировать" data-book-id="@Model.BookId"></span>
    </td>
    <td><span class="glyphicon glyphicon-remove btn btn-default" aria-hidden="true" title="удалить книгу" data-book-id="@Model.BookId"></span></td>
</tr>

