@model DomainModel.BookViewModel

@{
    Layout = null;
}


<div class="contact-form">

    @using (Ajax.BeginForm("SaveBook", "api/BooksStorageManager",
                                    null, new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        OnSuccess = "BookEditorModule.SuccessSave",
                                        OnFailure = "BookEditorModule.FailSave"
                                    },
                                    new { role = "form" }))
    {
        <div class="form-group">
        </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Title, new {@class = ""})
                @Html.TextBoxFor(m => m.Title, new {@class = "form-control", placeholder = "Название ..."})
                @Html.ValidationMessageFor(m => m.Title)
            </div>
            <div class="form-group">
                <label class="" for="contact-subject">Автор</label>
                <input type="text" name="subject" placeholder="Автор ..." class="contact-subject form-control" id="contact-subject">

            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PagesCount, new {@class = ""})
                @Html.TextBoxFor(m => m.PagesCount, new {@class = "form-control", placeholder = "Количество страниц ..."})
                @Html.ValidationMessageFor(m => m.PagesCount)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Publisher, new {@class = ""})
                @Html.TextBoxFor(m => m.Publisher, new {@class = "form-control", placeholder = "Издательство ..."})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ISBN, new {@class = ""})
                @Html.TextBoxFor(m => m.ISBN, new {@class = "form-control", placeholder = "ISBN"})
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BookFileName, new {@class = ""})
                <input type="file" name="subject" placeholder="изображение ..." class="form-control" id="">
            </div>
            @Html.HiddenFor(m => m.BookId)
            
            }
        </div>